/* Web */

position: relative;
width: 1440px;
height: 2925px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 609px;
left: 0px;
top: 106px;

background: #FBFBFB;


/* Rectangle 1661 */

position: absolute;
width: 1440px;
height: 722px;
left: 0px;
top: 1577px;

background: #F6F8FC;


/* Rectangle 24 */

position: absolute;
width: 1440px;
height: 97px;
left: 0px;
top: 714px;

/* Blue Secondary */
background: #11346F;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */


/* Group 4226 */

position: absolute;
width: 378px;
height: 50px;
left: 1002px;
top: 738px;



/* RAVE REVIEWS FROM OUR CUSTOMERS */

position: absolute;
width: 312px;
height: 30px;
left: 1068px;
top: 748px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

color: #FFFFFF;



/* Ellipse 14 */

position: absolute;
width: 50px;
height: 50px;
left: 1002px;
top: 738px;

background: #FFFFFF;


/* Group 4058 */

position: absolute;
width: 106px;
height: 17.37px;
left: 102px;
top: 1733px;



/* Star 1 */

position: absolute;
width: 17.37px;
height: 17.37px;
left: 102px;
top: 1733px;

background: #F6C644;


/* Star 2 */

position: absolute;
width: 17.37px;
height: 17.37px;
left: 124.16px;
top: 1733px;

background: #F6C644;


/* Star 3 */

position: absolute;
width: 17.37px;
height: 17.37px;
left: 146.32px;
top: 1733px;

background: #F6C644;


/* Star 4 */

position: absolute;
width: 17.37px;
height: 17.37px;
left: 168.47px;
top: 1733px;

background: #F6C644;


/* Star 5 */

position: absolute;
width: 17.37px;
height: 17.37px;
left: 190.63px;
top: 1733px;

background: #F6C644;


/* 131 TOTAL REVIEWS */

position: absolute;
width: 130px;
height: 19px;
left: 215px;
top: 1733px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: center;

/* Blue Secondary */
color: #11346F;



/* Rectangle 1638 */

box-sizing: border-box;

position: absolute;
width: 285px;
height: 472px;
left: 102px;
top: 1775px;

background: #FFFFFF;
border: 1px solid #E9E9E9;
border-radius: 10px;


/* Megan K. */

position: absolute;
width: 67px;
height: 19px;
left: 115px;
top: 1954px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;
/* identical to box height */

/* Blue Secondary */
color: #11346F;



/* VERIFIED BUYER */

position: absolute;
width: 87px;
height: 15px;
left: 255px;
top: 1958px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #89C25F;



/* Group 4059 */

position: absolute;
width: 85.45px;
height: 14px;
left: 112px;
top: 1979px;



/* Star 1 */

position: absolute;
width: 14px;
height: 14px;
left: 112px;
top: 1979px;

background: #F6C344;


/* Star 2 */

position: absolute;
width: 14px;
height: 14px;
left: 129.86px;
top: 1979px;

background: #F6C344;


/* Star 3 */

position: absolute;
width: 14px;
height: 14px;
left: 147.72px;
top: 1979px;

background: #F6C344;


/* Star 4 */

position: absolute;
width: 14px;
height: 14px;
left: 165.59px;
top: 1979px;

background: #F6C344;


/* Star 5 */

position: absolute;
width: 14px;
height: 14px;
left: 183.45px;
top: 1979px;

background: #F6C344;


/* vuesax/bold/tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 227px;
top: 1954px;



/* vuesax/bold/tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;



/* tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #89C25F;


/* Vector */

position: absolute;
left: 100%;
right: -100%;
top: 100%;
bottom: -100%;

opacity: 0;
transform: rotate(-180deg);


/* I love the MagicMassage! It’s simple to use, does not mess up my curly hair as many other similar products do, and the massage is relaxing as it is refreshing. I feel like it has been made for my scalp! It just feels right. */

position: absolute;
width: 250px;
height: 226px;
left: 119px;
top: 2003px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 26px;
/* or 200% */

/* Text */
color: #262626;



/* Rectangle 1645 */

box-sizing: border-box;

position: absolute;
width: 133px;
height: 30px;
left: 1196px;
top: 1727px;

background: #F6F8FC;
border: 1px solid #213786;
border-radius: 5px;


/* Write a review */

position: absolute;
width: 92px;
height: 17px;
left: 1217px;
top: 1734px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #3A3075;



/* image 45 */

position: absolute;
width: 285px;
height: 169px;
left: 102px;
top: 1775px;

background: url(image.png);
border-radius: 10px 10px 0px 0px;


/* Rectangle 1669 */

box-sizing: border-box;

position: absolute;
width: 285px;
height: 472px;
left: 417px;
top: 1775px;

background: #FFFFFF;
border: 1px solid #E9E9E9;
border-radius: 10px;


/* Megan K. */

position: absolute;
width: 67px;
height: 19px;
left: 430px;
top: 1954px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;
/* identical to box height */

/* Blue Secondary */
color: #11346F;



/* VERIFIED BUYER */

position: absolute;
width: 87px;
height: 15px;
left: 570px;
top: 1958px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #89C25F;



/* Group 4113 */

position: absolute;
width: 85.45px;
height: 14px;
left: 427px;
top: 1979px;



/* Star 1 */

position: absolute;
width: 14px;
height: 14px;
left: 427px;
top: 1979px;

background: #F6C344;


/* Star 2 */

position: absolute;
width: 14px;
height: 14px;
left: 444.86px;
top: 1979px;

background: #F6C344;


/* Star 3 */

position: absolute;
width: 14px;
height: 14px;
left: 462.72px;
top: 1979px;

background: #F6C344;


/* Star 4 */

position: absolute;
width: 14px;
height: 14px;
left: 480.59px;
top: 1979px;

background: #F6C344;


/* Star 5 */

position: absolute;
width: 14px;
height: 14px;
left: 498.45px;
top: 1979px;

background: #F6C344;


/* vuesax/bold/tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 542px;
top: 1954px;



/* vuesax/bold/tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;



/* tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #89C25F;


/* Vector */

position: absolute;
left: 100%;
right: -100%;
top: 100%;
bottom: -100%;

opacity: 0;
transform: rotate(-180deg);


/* I could not be happier with this product! I use it at night to relax and it does wonders for me. My kids and dog also love it, they’ll sit and let me massage their scalp for hours. At first my Labrador was hesitant not knowing what it was, but now she gets excited as soon as I take the MagicMassage out. */

position: absolute;
width: 250px;
height: 226px;
left: 434px;
top: 2003px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 26px;
/* or 200% */

/* Text */
color: #262626;



/* image 51 */

position: absolute;
width: 285px;
height: 169px;
left: 417px;
top: 1775px;

background: url(image);
border-radius: 10px 10px 0px 0px;


/* Rectangle 1670 */

box-sizing: border-box;

position: absolute;
width: 285px;
height: 472px;
left: 732px;
top: 1775px;

background: #FFFFFF;
border: 1px solid #E9E9E9;
border-radius: 10px;


/* Megan K. */

position: absolute;
width: 67px;
height: 19px;
left: 745px;
top: 1954px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;
/* identical to box height */

/* Blue Secondary */
color: #11346F;



/* VERIFIED BUYER */

position: absolute;
width: 87px;
height: 15px;
left: 885px;
top: 1958px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #89C25F;



/* Group 4114 */

position: absolute;
width: 85.45px;
height: 14px;
left: 742px;
top: 1979px;



/* Star 1 */

position: absolute;
width: 14px;
height: 14px;
left: 742px;
top: 1979px;

background: #F6C344;


/* Star 2 */

position: absolute;
width: 14px;
height: 14px;
left: 759.86px;
top: 1979px;

background: #F6C344;


/* Star 3 */

position: absolute;
width: 14px;
height: 14px;
left: 777.72px;
top: 1979px;

background: #F6C344;


/* Star 4 */

position: absolute;
width: 14px;
height: 14px;
left: 795.59px;
top: 1979px;

background: #F6C344;


/* Star 5 */

position: absolute;
width: 14px;
height: 14px;
left: 813.45px;
top: 1979px;

background: #F6C344;


/* vuesax/bold/tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 857px;
top: 1954px;



/* vuesax/bold/tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;



/* tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #89C25F;


/* Vector */

position: absolute;
left: 100%;
right: -100%;
top: 100%;
bottom: -100%;

opacity: 0;
transform: rotate(-180deg);


/* It arrived in perfect condition, and the packaging was immaculate. It felt amazing on my head, like someone was massaging it with the perfect pressure and speed. My long hair doesn't get caught in it at all, and I feel relaxed after using it. Best purchase I’ve made in a LONG time! */

position: absolute;
width: 250px;
height: 226px;
left: 749px;
top: 2003px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 26px;
/* or 200% */

/* Text */
color: #262626;



/* image 52 */

position: absolute;
width: 285px;
height: 169px;
left: 732px;
top: 1775px;

background: url(image);
border-radius: 10px 10px 0px 0px;


/* Rectangle 1671 */

box-sizing: border-box;

position: absolute;
width: 285px;
height: 472px;
left: 1047px;
top: 1775px;

background: #FFFFFF;
border: 1px solid #E9E9E9;
border-radius: 10px;


/* Megan K. */

position: absolute;
width: 67px;
height: 19px;
left: 1060px;
top: 1954px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;
/* identical to box height */

/* Blue Secondary */
color: #11346F;



/* VERIFIED BUYER */

position: absolute;
width: 87px;
height: 15px;
left: 1200px;
top: 1958px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #89C25F;



/* Group 4115 */

position: absolute;
width: 85.45px;
height: 14px;
left: 1057px;
top: 1979px;



/* Star 1 */

position: absolute;
width: 14px;
height: 14px;
left: 1057px;
top: 1979px;

background: #F6C344;


/* Star 2 */

position: absolute;
width: 14px;
height: 14px;
left: 1074.86px;
top: 1979px;

background: #F6C344;


/* Star 3 */

position: absolute;
width: 14px;
height: 14px;
left: 1092.72px;
top: 1979px;

background: #F6C344;


/* Star 4 */

position: absolute;
width: 14px;
height: 14px;
left: 1110.59px;
top: 1979px;

background: #F6C344;


/* Star 5 */

position: absolute;
width: 14px;
height: 14px;
left: 1128.45px;
top: 1979px;

background: #F6C344;


/* vuesax/bold/tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 1172px;
top: 1954px;



/* vuesax/bold/tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;



/* tick-circle */

position: absolute;
width: 21px;
height: 21px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #89C25F;


/* Vector */

position: absolute;
left: 100%;
right: -100%;
top: 100%;
bottom: -100%;

opacity: 0;
transform: rotate(-180deg);


/* I could not love this massager more. I use it for scalp stimulation during showers as it feels great to massage with shampoo. I love that it's light enough to carry it with me when I travel and comfortable to use. The product looks luxurious and would recommend this to anyone looking for a high quality head massager. */

position: absolute;
width: 250px;
height: 226px;
left: 1064px;
top: 2003px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 26px;
/* or 200% */

/* Text */
color: #262626;



/* image 53 */

position: absolute;
width: 285px;
height: 169px;
left: 1047px;
top: 1775px;

background: url(image.png);
border-radius: 10px 10px 0px 0px;


/* Group 4116 */

position: absolute;
width: 697px;
height: 56px;
left: 371px;
top: 1629px;



/* Hear what our customers are saying */

position: absolute;
width: 682px;
height: 50px;
left: 371px;
top: 1629px;

font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 49px;

/* Blue Secondary */
color: #11346F;



/* Vector 198 (Stroke) */

position: absolute;
width: 226px;
height: 6px;
left: 842px;
top: 1679px;

/* Blue Primary */
background: #197AFF;


/* Group 4223 */

position: absolute;
width: 417px;
height: 50px;
left: 94px;
top: 738px;



/* FREE 2-DAY SHIPPING IN THE UNITED STATES! */

position: absolute;
width: 351px;
height: 30px;
left: 160px;
top: 748px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

color: #FFFFFF;



/* Group 4222 */

position: absolute;
width: 50px;
height: 50px;
left: 94px;
top: 738px;



/* Ellipse 12 */

position: absolute;
width: 50px;
height: 50px;
left: 94px;
top: 738px;

background: #FFFFFF;


/* Group 4225 */

position: absolute;
width: 387px;
height: 50px;
left: 563px;
top: 738px;



/* 30 DAY 100% MONEY BACK GUARANTEE */

position: absolute;
width: 321px;
height: 30px;
left: 629px;
top: 748px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

color: #FFFFFF;



/* Group 4224 */

position: absolute;
width: 50px;
height: 50px;
left: 563px;
top: 738px;



/* Ellipse 13 */

position: absolute;
width: 50px;
height: 50px;
left: 563px;
top: 738px;

background: #FFFFFF;


/* Group 4323 */

position: absolute;
width: 37px;
height: 37px;
left: 570px;
top: 745px;



/* Ellipse 29 */

position: absolute;
width: 21px;
height: 21px;
left: 578px;
top: 753px;

/* Blue Primary */
background: #197AFF;


/* image 96 (Traced) */

position: absolute;
left: 39.58%;
right: 57.85%;
top: 25.47%;
bottom: 73.26%;

/* Blue Secondary */
background: #11346F;


/* Mask group */

position: absolute;
width: 15.5px;
height: 13px;
left: 580px;
top: 757px;



/* Vector 235 */

position: absolute;
width: 15.5px;
height: 13px;
left: 580px;
top: 757px;

background: #C4C4C4;
border: 1px solid #000000;


/* image 96 (Traced) */

position: absolute;
left: 39.58%;
right: 57.85%;
top: 25.47%;
bottom: 73.26%;

background: #FFFFFF;


/* Group 4227 */

position: absolute;
width: 33px;
height: 32.5px;
left: 1011px;
top: 748px;



/* Vector 236 */

position: absolute;
width: 26.92px;
height: 26.05px;
left: 1014.04px;
top: 749.3px;

/* Blue Primary */
background: #197AFF;
border: 1px solid #000000;


/* image 104 (Traced) */

position: absolute;
left: 70.21%;
right: 27.5%;
top: 25.57%;
bottom: 73.32%;

/* Blue Secondary */
background: #11346F;


/* Rectangle 1657 */

box-sizing: border-box;

position: absolute;
width: 686px;
height: 152px;
left: 100px;
top: 344px;

background: rgba(174, 204, 255, 0.1);
border: 1px solid rgba(174, 204, 255, 0.5);
border-radius: 10px;


/* MagicMassage™ provides relief from head tensions, muscle aches, sleep irregularities and more - suitable for adults, kids, and pets! */

position: absolute;
width: 731px;
height: 67px;
left: 100px;
top: 251px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* or 156% */

/* Text */
color: #262626;



/* All-in-one massager that works like magic! */

position: absolute;
width: 911px;
height: 57px;
left: 100px;
top: 169px;

font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 55px;

/* Blue Secondary */
color: #11346F;



/* Group 4309 */

position: absolute;
width: 408px;
height: 63px;
left: 100px;
top: 548px;



/* Rectangle 15 */

position: absolute;
width: 408px;
height: 63px;
left: 100px;
top: 548px;

/* Blue Primary */
background: #197AFF;
border-radius: 60px;


/* Get The MagicMassage™ Now */

position: absolute;
width: 292px;
height: 25px;
left: 157px;
top: 567px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
text-align: center;

color: #FFFFFF;



/* Group 4305 */

position: absolute;
width: 149px;
height: 132px;
left: 115px;
top: 361px;



/* Head Massage */

position: absolute;
width: 120px;
height: 20px;
left: 130px;
top: 412px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

/* Blue Secondary */
color: #11346F;



/* • Reduce stress & anxiety • Strengthen hair roots */

position: absolute;
width: 149px;
height: 60px;
left: 115px;
top: 433px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* or 167% */
text-align: center;

/* Text */
color: #262626;



/* Group 4076 */

position: absolute;
width: 36px;
height: 36px;
left: 172px;
top: 361px;



/* Rectangle 1658 */

position: absolute;
width: 36px;
height: 36px;
left: 172px;
top: 361px;



/* Group 4075 */

position: absolute;
width: 35.17px;
height: 35.22px;
left: 172.05px;
top: 361.78px;



/* Vector */

position: absolute;
left: 13.96%;
right: 85.61%;
top: 12.37%;
bottom: 87.26%;

background: #262626;


/* Vector */

position: absolute;
left: 11.95%;
right: 87.62%;
top: 12.37%;
bottom: 87.26%;

background: #262626;


/* Vector */

position: absolute;
left: 12.25%;
right: 85.9%;
top: 12.52%;
bottom: 86.43%;

background: #262626;


/* Vector */

position: absolute;
left: 12.07%;
right: 87.61%;
top: 13.26%;
bottom: 86.58%;

background: #262626;


/* Vector */

position: absolute;
left: 13.95%;
right: 85.72%;
top: 13.26%;
bottom: 86.58%;

background: #262626;


/* Vector */

position: absolute;
left: 12.27%;
right: 87.47%;
top: 13.34%;
bottom: 86.54%;

background: #262626;


/* Vector */

position: absolute;
left: 13.81%;
right: 85.93%;
top: 13.34%;
bottom: 86.54%;

background: #262626;


/* Vector */

position: absolute;
left: 12.05%;
right: 87.85%;
top: 13.55%;
bottom: 86.43%;

background: #262626;


/* Vector */

position: absolute;
left: 14.18%;
right: 85.72%;
top: 13.55%;
bottom: 86.43%;

background: #262626;


/* Vector */

position: absolute;
left: 13.71%;
right: 86.22%;
top: 13.19%;
bottom: 86.77%;

background: #262626;


/* Vector */

position: absolute;
left: 12.69%;
right: 87.24%;
top: 13.48%;
bottom: 86.49%;

background: #262626;


/* Vector */

position: absolute;
left: 14.02%;
right: 85.68%;
top: 12.39%;
bottom: 87.34%;

/* Blue Primary */
background: #197AFF;


/* Vector */

position: absolute;
left: 12.01%;
right: 87.7%;
top: 12.39%;
bottom: 87.34%;

/* Blue Primary */
background: #197AFF;


/* Vector */

position: absolute;
left: 12.74%;
right: 86.4%;
top: 12.54%;
bottom: 87.12%;

/* Blue Primary */
background: #197AFF;


/* Vector */

position: absolute;
left: 12.95%;
right: 86.93%;
top: 12.81%;
bottom: 87.16%;

background: #262626;


/* Vector */

position: absolute;
left: 13.27%;
right: 86.61%;
top: 12.81%;
bottom: 87.16%;

background: #262626;


/* Vector */

position: absolute;
left: 12.97%;
right: 86.96%;
top: 12.86%;
bottom: 87.1%;

background: #262626;


/* Vector */

position: absolute;
left: 13.3%;
right: 86.63%;
top: 12.86%;
bottom: 87.1%;

background: #262626;


/* Group 4306 */

position: absolute;
width: 154px;
height: 132px;
left: 294px;
top: 361px;



/* • Perfect muscle recovery • Improved circulation */

position: absolute;
width: 154px;
height: 60px;
left: 294px;
top: 433px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* or 167% */
text-align: center;

/* Text */
color: #262626;



/* Full-Body Massage */

position: absolute;
width: 136px;
height: 67px;
left: 302px;
top: 411px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 20px;
/* or 143% */
text-align: center;

/* Blue Secondary */
color: #11346F;



/* Group 4080 */

position: absolute;
width: 36px;
height: 36px;
left: 352px;
top: 361px;



/* Rectangle 1661 */

position: absolute;
width: 36px;
height: 36px;
left: 352px;
top: 361px;



/* Group 4079 */

position: absolute;
width: 35.22px;
height: 35.22px;
left: 352.78px;
top: 361.78px;



/* Vector */

position: absolute;
left: 24.5%;
right: 73.06%;
top: 12.37%;
bottom: 86.43%;

background: #262626;


/* Vector */

position: absolute;
left: 24.84%;
right: 75.07%;
top: 12.78%;
bottom: 87.18%;

background: #262626;


/* Vector */

position: absolute;
left: 25.96%;
right: 73.82%;
top: 12.67%;
bottom: 87.14%;

background: #262626;


/* Vector */

position: absolute;
left: 26.16%;
right: 73.48%;
top: 12.8%;
bottom: 87.07%;

background: #262626;


/* Vector */

position: absolute;
left: 25.54%;
right: 73.98%;
top: 12.94%;
bottom: 86.82%;

/* Blue Primary */
background: #197AFF;


/* Vector */

position: absolute;
left: 25.64%;
right: 74.07%;
top: 12.99%;
bottom: 86.87%;

background: #262626;


/* Vector 198 (Stroke) */

position: absolute;
width: 171px;
height: 6px;
left: 843px;
top: 229px;

/* Blue Primary */
background: #197AFF;


/* Arrow 4 */

position: absolute;
width: 50.92px;
height: 67.79px;
left: 1085.6px;
top: 167.69px;

transform: rotate(79.11deg);


/* Vector 4 (Stroke) */

position: absolute;
width: 48.18px;
height: 66.12px;
left: 1083.95px;
top: 168.01px;

/* Blue Primary */
background: #197AFF;
transform: rotate(79.11deg);


/* Vector 5 (Stroke) */

position: absolute;
width: 6.42px;
height: 4.83px;
left: 1094px;
top: 211.39px;

/* Blue Primary */
background: #197AFF;
transform: rotate(79.11deg);


/* Group 4307 */

position: absolute;
width: 144px;
height: 114px;
left: 474px;
top: 360px;



/* • Promote growth • Ehanced sleep quality */

position: absolute;
width: 144px;
height: 41px;
left: 474px;
top: 433px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* or 167% */
text-align: center;

/* Text */
color: #262626;



/* Kid Massage */

position: absolute;
width: 98px;
height: 21px;
left: 497px;
top: 411px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 20px;
/* or 143% */
text-align: center;

/* Blue Secondary */
color: #11346F;



/* Group 4287 */

position: absolute;
width: 29px;
height: 38px;
left: 531px;
top: 360px;



/* Vector 241 */

position: absolute;
width: 15.5px;
height: 8.5px;
left: 537.5px;
top: 360.5px;

/* Blue Primary */
background: #197AFF;


/* image 112 (Traced) */

position: absolute;
left: 36.88%;
right: 61.11%;
top: 12.31%;
bottom: 86.39%;

background: #000000;


/* Group 4308 */

position: absolute;
width: 124px;
height: 112px;
left: 647px;
top: 361px;



/* • Boosted immunity • Lifetime of comfort */

position: absolute;
width: 124px;
height: 39px;
left: 647px;
top: 434px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* or 167% */
text-align: center;

/* Text */
color: #262626;



/* Pet Massage */

position: absolute;
width: 95px;
height: 19px;
left: 661px;
top: 411px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 20px;
/* or 143% */
text-align: center;

/* Blue Secondary */
color: #11346F;



/* Group 4288 */

position: absolute;
width: 42px;
height: 40px;
left: 688px;
top: 361px;



/* Vector 242 */

position: absolute;
width: 7px;
height: 4px;
left: 705.5px;
top: 376.5px;

/* Blue Primary */
background: #197AFF;


/* Group 4286 */

position: absolute;
width: 42px;
height: 40px;
left: 688px;
top: 361px;



/* Group 4285 */

position: absolute;
width: 42px;
height: 40px;
left: 688px;
top: 361px;



/* image 113 (Traced) */

position: absolute;
left: 47.78%;
right: 49.31%;
top: 12.34%;
bottom: 86.29%;

background: #000000;


/* Line 54 */

position: absolute;
width: 117px;
height: 0px;
left: 279px;
top: 361px;

border: 1px solid #CEE2FF;
transform: rotate(90deg);


/* Line 55 */

position: absolute;
width: 117px;
height: 0px;
left: 460px;
top: 361px;

border: 1px solid #CEE2FF;
transform: rotate(90deg);


/* Line 56 */

position: absolute;
width: 117px;
height: 0px;
left: 632px;
top: 361px;

border: 1px solid #CEE2FF;
transform: rotate(90deg);


/* Group 4310 */

position: absolute;
width: 33px;
height: 27.5px;
left: 104px;
top: 747px;



/* Rectangle 1789 */

position: absolute;
width: 21.66px;
height: 13.82px;
left: 104.62px;
top: 752.09px;

/* Blue Primary */
background: #197AFF;


/* image 114 (Traced) */

position: absolute;
left: 7.22%;
right: 90.49%;
top: 25.54%;
bottom: 73.52%;

/* Blue Secondary */
background: #11346F;


/* Intersect */

position: absolute;
width: 17.05px;
height: 5.5px;
left: 106.75px;
top: 756.9px;

background: #FFFFFF;


/* Rectangle 1790 */

position: absolute;
width: 19.11px;
height: 7.22px;
left: 105.79px;
top: 756.08px;

background: #C4C4C4;


/* image 114 (Traced) */

position: absolute;
left: 7.22%;
right: 90.49%;
top: 25.54%;
bottom: 73.52%;

background: #000000;


/* Rectangle 1663 */

position: absolute;
width: 1440px;
height: 616px;
left: 0px;
top: 2309px;

/* Blue Secondary */
background: #11346F;


/* Frequently Asked Questions */

position: absolute;
width: 544px;
height: 50px;
left: 448px;
top: 2343px;

font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 49px;

color: #FFFFFF;



/* Rectangle 1662 */

position: absolute;
width: 476px;
height: 398px;
left: 100px;
top: 2458px;

background: url(image.png);
border-radius: 10px;


/* Group 4109 */

position: absolute;
width: 652px;
height: 59px;
left: 660px;
top: 2600px;



/* Rectangle 1664 */

box-sizing: border-box;

position: absolute;
width: 652px;
height: 59px;
left: 660px;
top: 2600px;

background: #194081;
border: 1px solid #31548E;
border-radius: 9px;


/* Can I use it in the shower? */

position: absolute;
width: 211px;
height: 20px;
left: 690px;
top: 2620px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

/* Blue For Text */
color: #AECCFF;



/* Vector */

position: absolute;
left: 87.3%;
right: 11.6%;
top: 89.78%;
bottom: 9.98%;

/* Blue For Text */
border: 1.5px solid #AECCFF;


/* Rectangle 1665 */

box-sizing: border-box;

position: absolute;
width: 652px;
height: 59px;
left: 660px;
top: 2675px;

background: #194081;
border: 1px solid #31548E;
border-radius: 9px;


/* What is included in the package */

position: absolute;
width: 262px;
height: 20px;
left: 690px;
top: 2695px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

/* Blue For Text */
color: #AECCFF;



/* Vector */

position: absolute;
left: 87.3%;
right: 11.6%;
top: 92.34%;
bottom: 7.42%;

/* Blue For Text */
border: 1.5px solid #AECCFF;


/* Rectangle 1666 */

box-sizing: border-box;

position: absolute;
width: 652px;
height: 59px;
left: 660px;
top: 2750px;

background: #194081;
border: 1px solid #31548E;
border-radius: 9px;


/* Is the MagicMassage™ designed only for the head? */

position: absolute;
width: 417px;
height: 20px;
left: 690px;
top: 2770px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

color: #AECCFF;



/* Vector */

position: absolute;
left: 87.3%;
right: 11.6%;
top: 94.91%;
bottom: 4.85%;

/* Blue For Text */
border: 1.5px solid #AECCFF;


/* Group 4371 */

position: absolute;
width: 652px;
height: 127px;
left: 660px;
top: 2457px;



/* Rectangle 1668 */

box-sizing: border-box;

position: absolute;
width: 652px;
height: 126px;
left: 660px;
top: 2458px;

/* Blue Secondary */
background: #11346F;
border: 1px solid #31548E;
border-radius: 9px;


/* Group 4110 */

position: absolute;
width: 652px;
height: 59px;
left: 660px;
top: 2457px;



/* Rectangle 1664 */

box-sizing: border-box;

position: absolute;
width: 652px;
height: 59px;
left: 660px;
top: 2457px;

background: #194081;
border: 1px solid #31548E;
border-radius: 9px 9px 0px 0px;


/* How long does the battery last fully charged? */

position: absolute;
width: 369px;
height: 20px;
left: 690px;
top: 2477px;

font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

color: #FFFFFF;



/* Vector */

position: absolute;
left: 88.4%;
right: 10.5%;
top: 85.13%;
bottom: 14.63%;

/* Blue For Text */
border: 1.5px solid #AECCFF;
transform: rotate(-180deg);


/* The MagicMassage™ can last up to 6 hours when it's fully charged. */

position: absolute;
width: 518px;
height: 27px;
left: 690px;
top: 2538px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* Blue For Text */
color: #AECCFF;



/* See All FAQ */

position: absolute;
width: 90px;
height: 20px;
left: 668px;
top: 2835px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

/* Background Down */
color: #F6F8FC;



/* Vector 198 (Stroke) */

position: absolute;
width: 226px;
height: 6px;
left: 766px;
top: 2399px;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 53.47%;
right: 45.62%;
top: 97.16%;
bottom: 2.63%;

/* Background Down */
border: 1.5px solid #F6F8FC;


/* Group 48095554 */

position: absolute;
width: 393px;
height: 81px;
left: 965px;
top: 599px;



/* Rectangle 6493 */

box-sizing: border-box;

position: absolute;
width: 393px;
height: 81px;
left: 965px;
top: 599px;

background: rgba(234, 242, 255, 0.1);
border: 1px solid rgba(174, 204, 255, 0.5);
border-radius: 110px;


/* “It feels amazing on my head and it soothes muscle tension. “ */

position: absolute;
width: 222px;
height: 34px;
left: 1056px;
top: 612px;

font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 17px;
/* or 142% */

color: #000000;



/* Group 20 */

position: absolute;
width: 64px;
height: 64px;
left: 976px;
top: 607px;



/* image 19 */

position: absolute;
width: 64px;
height: 64px;
left: 976px;
top: 607px;

background: url(image.png);


/* Group 48095553 */

position: absolute;
width: 273px;
height: 19px;
left: 1053px;
top: 653px;



/* Group 48095552 */

position: absolute;
width: 132px;
height: 17px;
left: 1053px;
top: 653px;



/* Debra N. */

position: absolute;
width: 54px;
height: 17px;
left: 1131px;
top: 653px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 17px;
/* identical to box height, or 142% */

color: #787979;



/* Group 17 */

position: absolute;
width: 73px;
height: 13.9px;
left: 1053px;
top: 655px;



/* Star 1 */

position: absolute;
width: 13.9px;
height: 13.9px;
left: 1053px;
top: 655px;

background: #F6C644;
border-radius: 0.5px;


/* Star 2 */

position: absolute;
width: 13.9px;
height: 13.9px;
left: 1067.77px;
top: 655px;

background: #F6C644;
border-radius: 0.5px;


/* Star 3 */

position: absolute;
width: 13.9px;
height: 13.9px;
left: 1082.55px;
top: 655px;

background: #F6C644;
border-radius: 0.5px;


/* Star 4 */

position: absolute;
width: 13.9px;
height: 13.9px;
left: 1097.32px;
top: 655px;

background: #F6C644;
border-radius: 0.5px;


/* Star 5 */

position: absolute;
width: 13.9px;
height: 13.9px;
left: 1112.1px;
top: 655px;

background: #F6C644;
border-radius: 0.5px;


/* Group 48095551 */

position: absolute;
width: 110px;
height: 19px;
left: 1216px;
top: 653px;



/* VERIFIED BUYER */

position: absolute;
width: 87px;
height: 15px;
left: 1239px;
top: 656px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 15px;
/* identical to box height */
text-align: center;

/* Blue Primary */
color: #197AFF;



/* vuesax/bold/tick-circle */

position: absolute;
width: 19px;
height: 19px;
left: 1216px;
top: 653px;



/* vuesax/bold/tick-circle */

position: absolute;
width: 19px;
height: 19px;
left: 0px;
top: 0px;



/* tick-circle */

position: absolute;
width: 19px;
height: 19px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Blue Primary */
background: #197AFF;


/* Vector */

position: absolute;
left: 100%;
right: -100%;
top: 100%;
bottom: -100%;

opacity: 0;
transform: rotate(-180deg);


/* image 212 */

position: absolute;
width: 391px;
height: 241px;
left: 962px;
top: 271px;

background: url(image.png);


/* Rectangle 21 */

position: absolute;
width: 1440px;
height: 67px;
left: 0px;
top: 39px;

background: rgba(245, 253, 255, 0.8);
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
backdrop-filter: blur(14px);
/* Note: backdrop-filter has minimal browser support */


/* Rectangle 22 */

position: absolute;
width: 1440px;
height: 39px;
left: 0px;
top: 0px;

background: #11346F;


/* Frame 4060 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 60px;

position: absolute;
width: 515px;
height: 21px;
left: 505px;
top: 61px;



/* Why MagicMassage */

width: 167px;
height: 21px;

font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;

/* Blue Secondary */
color: #11346F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Features */

width: 71px;
height: 21px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/* Blue Secondary */
color: #11346F;

opacity: 0.75;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Reviews */

width: 65px;
height: 21px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/* Blue Secondary */
color: #11346F;

opacity: 0.75;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* FAQ */

width: 32px;
height: 21px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/* Blue Secondary */
color: #11346F;

opacity: 0.75;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* SPRING BUNDLE SALE! USE CODE:SPRING20 */

position: absolute;
width: 313px;
height: 30px;
left: 564px;
top: 4px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */

color: #FFFFFF;



/* Group 4112 */

position: absolute;
width: 156px;
height: 23.47px;
left: 100px;
top: 58px;



/* Logo - MagicMassage (1) 1 */

position: absolute;
width: 156px;
height: 23.47px;
left: 100px;
top: 58px;



/* Group */

position: absolute;
left: 0%;
right: -0.01%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 87.18%;
top: 12.56%;
bottom: 21.7%;

background: #213786;


/* Vector */

position: absolute;
left: 13.23%;
right: 79.28%;
top: 32.27%;
bottom: 20.62%;

background: #213786;


/* Vector */

position: absolute;
left: 21.08%;
right: 71.63%;
top: 25.54%;
bottom: 0%;

background: #213786;


/* Vector */

position: absolute;
left: 32.54%;
right: 61.05%;
top: 32.24%;
bottom: 20.79%;

background: #213786;


/* Vector */

position: absolute;
left: 39.33%;
right: 47.85%;
top: 12.56%;
bottom: 21.7%;

background: #213786;


/* Vector */

position: absolute;
left: 52.56%;
right: 39.94%;
top: 32.27%;
bottom: 20.62%;

background: #213786;


/* Vector */

position: absolute;
left: 60.52%;
right: 33.79%;
top: 32.04%;
bottom: 20.13%;

background: #213786;


/* Vector */

position: absolute;
left: 66.91%;
right: 27.4%;
top: 32.04%;
bottom: 20.13%;

background: #213786;


/* Vector */

position: absolute;
left: 73.25%;
right: 19.26%;
top: 32.28%;
bottom: 20.62%;

background: #213786;


/* Vector */

position: absolute;
left: 81.09%;
right: 11.61%;
top: 25.54%;
bottom: 0%;

background: #213786;


/* Vector */

position: absolute;
left: 88.4%;
right: 5.17%;
top: 32.19%;
bottom: 20.79%;

background: #213786;


/* Vector */

position: absolute;
left: 93.41%;
right: -0.01%;
top: 0%;
bottom: 56.62%;

background: #213786;


/* Vector */

position: absolute;
left: 28.66%;
right: 67.91%;
top: 32.77%;
bottom: 21.7%;

background: #213786;


/* Vector */

position: absolute;
left: 28.72%;
right: 67.95%;
top: 4.98%;
bottom: 73.09%;

background: #213786;


/* Group 48095563 */

position: absolute;
width: 165px;
height: 42px;
left: 1175px;
top: 51px;



/* Rectangle 16 */

position: absolute;
width: 165px;
height: 42px;
left: 1175px;
top: 51px;

/* Blue Primary */
background: #197AFF;
border-radius: 60px;


/* ORDER NOW */

position: absolute;
width: 88px;
height: 19px;
left: 1213px;
top: 62px;

font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #FFFFFF;

